{% extends 'base.html' %}

{% set active_page = 'change-password' %}

{% block title %}{{ _('Change Password') }}{% endblock %}

{% block body %}
        <form method="POST" action="">
            <legend>{{ _('Change Password') }}</legend>
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
        </form>
{% endblock %}
