{% extends theme('layout.html') %}

{% block title %}{{ flatpage.seotitle or flatpage.title }}{% endblock %}

{% block head_extend -%}
  <link rel="canonical" href="{{ flatpage.link }}" />
  <meta name="mobile-agent" content="format=html5;url={{ flatpage.link }}"/>
  <meta name="mobile-agent" content="format=xhtml;url={{ flatpage.link }}"/>
{%- endblock %}

{% block main %}
  <div class="post">
    <h2 class="pagetitle">{{ flatpage.title }}</h2>
    <div class="entry">
      {{ flatpage.body_html|safe }}
    </div>
  </div>
{% endblock %}

