<!DOCTYPE html>
<html>
  <head>
    <title>{% block fulltitle%}{% block title %}{% endblock %} - {{ config['SITE_NAME'] }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="{{ url_for('main.feed') }}" rel="alternate" type="application/atom+xml" />
    <link href="{{ theme_static('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    {% block head_extend %}{% endblock %}
  </head>

{% macro nav_by_category(category) -%}
<a href="{{ url_for('main.index') }}">Home</a> <b>&#187;</b> {% for cate in category.parents %}
  <a href="{{ cate.link }}">{{ cate.name }}</a> <b>&#187;</b>
  {% endfor %}
{% endmacro %}

  <body>
    <div id="bgcontain"> 
      <div id="header">
        {% block logo %}
        <h1 class="logo"><a href="{{ url_for('main.index') }}" title="{{ config['SITE_NAME'] }}"><span class="none">{{ config['SITE_NAME'] }}</span></a></h1>
        {% endblock %}
        <form action="{{ url_for('main.search') }}" method="GET">
          <div>
            <input type="text" value="Search..." onfocus="if (value =='Search...'){value =''}" onblur="if (value ==''){value='Search...'}" name="keyword" id="keyword" />
            <input type="submit" id="searchsubmit" value="" />
          </div>
        </form>
      </div> 

      <div id="menu">
        <ul>
          <li class="{% if request.path not in ('/tag/', '/links/', '/about/') %}current_page_item{% else %}page_item{% endif %}"><a href="{{ url_for('main.index') }}" title="Home">Home</a></li>
          <li class="{% if request.path == '/topics/' %}current_page_item{% else %}page_item{% endif %}"><a href="{{ url_for('main.topics') }}" title="Topics">Topics</a></li>
          <li class="{% if request.path == '/tag/' %}current_page_item{% else %}page_item{% endif %}"><a href="{{ url_for('main.tags') }}" title="Tags">Tags</a></li>
          <li class="{% if request.path == '/about/' %}current_page_item{% else %}page_item{% endif %}"><a href="{{ url_for('main.flatpage', slug='about') }}" title="About">About</a></li>
          <li id="pattern"></li>
        </ul>
      </div>
      <div class="contain clear">
        <div id="content" class="narrowcolumn">
          {% block main %}

          <div class="article" id="article-1859">
            <ul class="date">
              <li class="day">13</li>
              <li class="month">Oct</li>
            </ul>

            <div class="title">
              <h2 class="topic"><a href="/archives/1859.html" rel="bookmark" title="Permanent Link to Ubuntu Tweak 0.8.6 正式发布：支持Ubuntu 13.10">Ubuntu Tweak 0.8.6 正式发布：支持Ubuntu 13.10</a></h2>
              <span class="postmeta">Post by TualatriX at 2013 . Category: <a href="/archives/category/applications/">Applications</a>.  359 Views. <a href="/archives/1859.html#comments">2 Comments </a> </span></div>

            <div class="clear"></div>
            <div class="entry">

              <p> <a href="/archives/1859.html#more-1859">Read More...</a>

            </div>
          </div>
          {% endblock %}

        </div>

        <div id="sidebar">
          {% block sidebar %}
          <h2>Wechat</h2>
          <p align="center"><img width="180px" height="180px" src="{{ theme_static('images/digwtx-qrcode.png') }}" alt="digwtx-wechat-qrcode"/></p>

          <h2>Recent Posts</h2>
          <ul>
            {% set cate = None %}
            {% if article %}{% set cate = article.category %}{% endif %}
            {% if category %}{% set cate = category %}{% endif %}
            {% for article in get_latest_articles(cate, 15) %}
            <li><a href="{{ article.link }}" title="{{ article.title }}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>

          <h2>Top 15 Posts of latest month</h2>
          <ul>
            {% for article in get_top_articles(days=30, limit=15) %}
            <li><a href="{{ article.link }}" title="{{ article.title }}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>

          <h2>Categories</h2>
          <ul>
            {% for tree in category_tree() %}
            <li>{{ tree[0] * '----' }}<a href="{{ tree[1].link }}">{{ tree[1].name }}</a>({{ tree[1].count }})</li>
            {% endfor %}
          </ul>

          <h2>Archives</h2>
          <ul>
            {% for item in archives() %}
            <li><a href="{{ url_for('main.archives', year=item.year, month=item.month) }}">{{ item|date('%B') }} {{ item|date('%Y') }}</a></li>
            {% endfor %}
          </ul>

          <!--友情链接-->
          {% block friendlinks %}{% endblock %}

          {% block sidebar_other %}
          <h2>Other</h2>
          <ul>
            <li><a rel="nofollow" href="{{ url_for('admin.index') }}">Admin</a></li>
          </ul>
          {% endblock %}
          {% endblock %}
        </div>

      </div>
      <hr />
      {% block footer %}
      <div id="footer">
        <p>&copy; 2014 {{ config['SITE_NAME'] }}
        - <a href="{{ url_for('main.feed') }}">Entries(RSS)</a> 
        - <a href="{{ url_for('main.sitemap') }}">Sitemap</a>
        <br/>
        Powered by <a href="http://flask.pocoo.org" target="_blank" rel="external nofollow">Flask</a> | 
    Theme designed By <a href="http://imtx.me/" target="_blank" rel="nofollow">IMTX</a> & <a href="http://www.hoofei.com/" rel="nofollow" target="_blank">Hoofei</a>
        </p>
      </div>
      {% endblock %}
      <!-- go top -->
      <div class="top-btn none on" id="top_btn"></div>
      <!-- go top end -->
    </div>
    <script language="javascript" type="text/javascript" src="{{ theme_static('js/jquery-1.8.3.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ theme_static('js/util.js') }}"></script>
    {% block tail %}{% endblock %}
  </body>
</html>
