{% extends theme('layout.html') %}

{% block title %}专题{% endblock %}

{% block head_extend -%}
  <link rel="canonical" href="{{ url_for('main.topics', _external=True) }}" />
  <meta name="mobile-agent" content="format=html5;url={{ url_for('main.topics', _external=True) }}"/>
  <meta name="mobile-agent" content="format=xhtml;url={{ url_for('main.topics', _external=True) }}"/>
{%- endblock %}

{% block main %}
<div class="post">
  <h2 class="">专题</h2>
  <div class="entry">
    <ul class="clearfix">
    {% for topic in topic_lists() -%}
    <li><a href="{{ topic.link }}">{{ topic.name }}</a></li>
    {%- endfor %}
    </ul>
  </div>
</div>
{% endblock %}

