{% extends theme('layout.html') %}

{% block title %}专题{% endblock %}

{% block head_extend -%}
  <link rel="canonical" href="{{ url_for('main.topics', _external=True) }}" />
  <meta name="mobile-agent" content="format=html5;url={{ url_for('main.topics', _external=True) }}"/>
  <meta name="mobile-agent" content="format=xhtml;url={{ url_for('main.topics', _external=True) }}"/>
{%- endblock %}

{% block main %}
<div class="post">
  <h2 class="">专题</h2>
  <div class="entry">
    {% set filters = [] %}
    {% set order_by = [{'field': 'id', 'direction': 'desc'}] -%}

    {% with topics = model_query(
        Topic,
        dict(filters=filters, order_by=order_by)
    ) -%}
    <ul class="clearfix">
    {% for topic in topics -%}
    <li><a href="{{ topic.link }}">{{ topic.name }}</a></li>
    {%- endfor %}
    </ul>
    {% endwith %}
  </div>
</div>
{% endblock %}

