{% extends theme('layout.html') %}

{% block title %}{{ category.seotitle or category.name }}{% if pagination.page>1 %}_第{{ pagination.page }}页{% endif %}{% endblock %}
{% block keywords %}{{ category.seokey }}{% endblock %}
{% block description %}{{ category.seodesc }}{% endblock %}

{% block head_extend -%}
  <link rel="canonical" href="{{ request.base_url }}" />
  <meta name="mobile-agent" content="format=html5;url={{ request.base_url }}"/>
  <meta name="mobile-agent" content="format=xhtml;url={{ request.base_url }}"/>
{%- endblock %}

{% block crumb %}{{ nav_by_category(category, True) }}{% endblock %}

{% block main %}
  {% include theme('article_lists.html') %}
{% endblock %}

