{% extends theme('layout.html') %}
{% set active_page = "tags" %}

{% block title %}{{ tag.seotitle or tag.name }}{% if pagination.page>1 %}_第{{ pagination.page }}页{% endif %}{% endblock %}
{% block keywords %}{{ tag.seokey }}{% endblock %}
{% block description %}{{ tag.seodesc }}{% endblock %}

{% block head_extend -%}
  <link rel="canonical" href="{{ request.base_url }}" />
  <meta name="mobile-agent" content="format=html5;url={{ request.base_url }}"/>
  <meta name="mobile-agent" content="format=xhtml;url={{ request.base_url }}"/>
{%- endblock %}

{% block crumb %}<a href="{{ url_for('main.tags') }}">Tags</a><b>&#187;</b>{{ tag.name }}{% endblock %}

{% block main %}
  {% include theme('article_lists.html') %}
{% endblock %}

