{% extends theme('mobile/layout.html') %}

{% block title %}{{ flatpage.seotitle or flatpage.title }}{% endblock %}

{% block logo %}
        <h1 class="logo"><a class="logo-img" href="{{ url_for('main.index') }}"><span class="none">{{ config['SITE_NAME'] }}</span></a></h1>
{% endblock %}

        {% block main %}
        <div class="post">
          <h2 class="pagetitle">{{ flatpage.title }}</h2>
          <div class="entry">
            {{ flatpage.body_html|safe }}
          </div>
        </div>
        {% endblock %}

