<!DOCTYPE html>
<html>
  <head>
    <title>{% block fulltitle%}{% block title %}{% endblock %}-{{ config['SITE_NAME'] }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <link rel="shortcut icon" href="{{ theme_static('mobile/favicon.png') }}" />
    <link href="{{ url_for('main.feed') }}" rel="alternate" type="application/atom+xml" />
    <link href="{{ theme_static('mobile/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    {% block head_extend %}{% endblock %}
  </head>
<body>

{# 面包屑导航 #}
{% macro nav_by_category(category) -%}
<b>&#187;</b>{% for cate in category.parents -%}
<a href="{{ cate.link }}">{{ cate.name }}</a>{% if not loop.last %}<b>&#187;</b>{% endif %}
  {% endfor -%}
{%- endmacro %}
{# 面包屑导航结束 #}

<a id="top" name="top"></a>
{% block head %}
<h1>{{ config['SITE_NAME'] }}</h1><div class="h"><a href="{{
    url_for('main.index', _external=True) }}" title="{{
config['SITE_NAME'] }}首页">首页</a><b>|</b><a href="{{
url_for('main.topics') }}">专题</a><b>|</b><a href="{{
url_for('main.tags') }}">栏目/标签</a><b>|</b><a href="{{ url_for('main.flatpage', slug='about') }}">关于</a></div>
{% endblock %}

{% block main %}
<form action="http://lusongsong.com/wap.asp" method="get">    <div class="srh">	<input type="hidden" name="act" value="Search">    <input type="search" class="i" name="q" value="" id="q">   <input type="submit" name="submit" value="搜">    </div></form>

<ul> <li>
<h3><a href="http://lusongsong.com/wap.asp?act=View&amp;id=1128">玩转论坛营销巧获永久自然流量</a></h3>
<div class="s"><p>做论坛推广大家都会普遍的反映说，发帖很容易被删，所以会觉得论坛营销已经不行了，其实我到不这么看</p></div>
<span class="a">2014-8-11 | 
<a href="http://lusongsong.com/wap.asp?act=Main&amp;cate=3">SEO推广</a> | 
<a href="http://lusongsong.com/wap.asp?act=Com&amp;id=1128">评论:46</a>
</span>
</li>
</ul>
{% endblock %}

{% block footer %}
<div class="t2"><a href="{{ url_for('main.index') }}">首页</a>{% block nav %}{% endblock %}</div>
<div id="ft">&copy;2014 - {{ config['SITE_NAME'] }} - <a href="#top">顶部</a></div>
{% endblock %}
</body>
</html>
