{% extends theme('mobile/layout.html') %}

{% block title %}搜索: {{ keyword }}{% if pagination and pagination.page>1 %}_第{{ pagination.page }}页{% endif %}{% endblock %}

{% block main %}
  <h2 class="t1">搜索 <b>{{ keyword }}</b> 的结果</h2>
  <form action="{{ url_for('main.search') }}" method="get">    <div class="srh">	<input type="hidden" name="act" value="Search">    <input type="search" class="i" name="keyword" value="" id="keyword">   <input type="submit" name="submit" value="搜">    </div></form>
  <hr style="color:#ccc;"/>
  {% include theme('mobile/article_lists.html') %}
{% endblock %}

{% block nav %}<b>&#187;</b>搜索{% endblock %}
