{% extends theme('mobile/layout.html') %}

{% block title %}标签{% endblock %}

{% block head_extend -%}
  <link rel="canonical" href="{{ url_for('main.tags', _external=True) }}" />
{%- endblock %}

{% block main %}
  <h2 class="t1"><b>标签</b></h2>
  <div class="entry">
    {% set filters_2 = [] %}
    {% set order_by_2 = [{'field': 'id', 'direction': 'desc'}] -%}

    {% with tags = model_query(
        Tag,
        dict(filters=filters_2, order_by=order_by_2)
    ) -%}
    <ul class="taglist clearfix">
      {% for tag in tags -%}
      <li><a href="{{ tag.link }}">{{ tag.name }}</a>({{ tag.count }}){% if not loop.last %}&nbsp;&nbsp;{% endif %}</li>
      {%- endfor %}
    </ul>
    {% endwith %}
  </div>
{% endblock %}

{% block nav %} <b>&#187;</b> <a href="{{ url_for('main.tags') }}">标签</a>{% endblock %}
