@charset "utf-8";
body,ul,ol,form{margin:0 0;padding:0 0}
body{font:16px/1.4 Arial,sans-serif;color:#222;} a{font-size:1.1em;}
ul,ol{list-style:none}
ol li{list-style-type:decimal}
h1{background:#fefeff;font-size:large;border-bottom:2px solid #00aad5}
h2,h3{font-size:medium} h1,h2,h3,div,li,p{margin:0 0;padding:2px 2px;}
h2,li,.t2{border-bottom:1px solid #ccc}.t2{background:#d9f4f4;}
h2.t1{background:#C2EFEF} h2 b{color: #FF6347}
h3{color:#000;}
div{display: block;} div.nav,div.adm{color:#666;margin:1px 2px;}
a:link{color:#369;text-decoration:none}a:visited{color:#669;text-decoration:none}
a:hover{color:#fff;text-decoration:none;background:#00a8d2}a:active{color:#fff;text-decoration:none;background:#f93}
b{color:#ddd;margin: 0 3px;}
.h{background:#fefeff;color:#333;margin:1px 2px;}
.n{border:1px solid #ffed00;background:#fffcaa}
.a,.stamp,#ft,#m h3,#m li{color:#666;font-size:small;margin:2px;}
.t{color:#666;margin:3px;text-align:left;}
.s, .content{word-break:break-all;word-wrap:break-word;}
.content p, .content h2, .content h3 {margin:0.8em 0;}
.content ul, .content ol {margin:0 0 0 2em;}
.content li {list-style-type:square; border:none;}
.content li p {margin:0;}
.content ol li {list-style-type:decimal;}
.content h3 {font-size:1em;}
.content a {font-size:1em;}
.i{width:78%;padding:2px 0;margin:auto;}
.page{margin:5px 2px 3px -4px;} .page a, .page span{margin:0 4px;padding:0 4px;}
.pager_curpage {background:#00a8d2; color:#fff;}
pre,blockquote{background:#F4F4F4;border-left:5px solid #ececec;margin:5px 3px;padding:5px;}
pre{background:#F3F7F7;border-left:5px solid #D9F8F8;}
table{border-collapse:collapse;}
input[type="submit"]{font-size:1.2em;}textarea{height:60%;}
img{max-width:88%;}
.keyword em {font-style:normal; color:#ff0000;}
/*last-modified: 2014-08-17*/
